.section__padding {
    padding: 2rem 20rem 0;
}
.container {
    background: #000;
    width: 100%;
    height: 100vh;
    color: #eee;
}
.form__block{
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background-color: #2f2f2f;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.form{
    margin-top: 1.5rem;
}

.form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}
.form__item{
    width: 100%;
}
.form__item h5 {
    color: #fff;
    padding: .7rem 0;

}

input, select {
    background: transparent;
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #FFC178;
    color: #eee;
    text-decoration: none;
    font-size: 14px;
}

input::placeholder, select::placeholder {
    color: #878787;
}

option {
    background: #000;
    height: 20px;
}

.send__btn button{
    border: none;
    border-radius: 10px;
    background: #eee;
    width: 20%;
    color: #000000;
    padding: 15px;
    cursor: pointer;    
    transition: ease-in-out 0.3s;
}

.send__btn button:hover {
    background: #FFC178;
    color: #000;
}

.send__btn, .disable {
    display: flex;
    justify-content: center;
    width: 100%;
}

.disable button {
    cursor: not-allowed;
    opacity: 0.4;
    border: none;
    border-radius: 10px;
    background: #eee;
    width: 20%;
    color: #000000;
    padding: 15px; 
    transition: ease-in-out 0.3s;
}